/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #ffffff;
}

.tabPane {
    /* -fx-background-color: #ffffff;*/
}

.flowPane {
    -fx-background-color: #000027;
    -fx-background-radius: 0 10 10 0;
    -fx-orientation: vertical;
    -fx-vgap: 20;
    -fx-padding: 20 0 0 0;
}

.flowPaneBtns {
    /*-fx-border-color: #999999;*/
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 10 10 0;
    -fx-background-color: #ffffff;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
}

.flowPaneBtns:hover {
    -fx-pref-width: 160;
    -fx-effect: dropshadow(gaussian, #bfcfff, 20, 0, 0, 0);

}

.footer {
    -fx-color: #b9a1a1;
    -fx-font-size: 10px;
}